# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
.env
.env.*

# Node.js
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# npm/yarn/pnpm
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
build/
dist/
.next/

# Misc
*.swp
*.swo

# Backup
*~

# Test
coverage/

# Mac
.AppleDouble
.LSOverride

# Windows
$RECYCLE.BIN/
*.lnk

# Logs
*.log

# Others
*.bak 