@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@theme {
    --breakpoint-2xs: 16rem;
    --breakpoint-xs: 24rem;
    --breakpoint-2sm: 32rem;
    --color-accentColor:#0097A9;
}
*{
    font-family: "Roboto", sans-serif;
}