@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@theme {
  --breakpoint-2xs: 16rem;
  --breakpoint-xs: 24rem;
  --breakpoint-2sm: 32rem;
  --color-accentColor: #4a90e2;
  --color-mainColor: #1c1c1c;
  --color-bgColor: #2363b2;
  --color-newWhite: #d9d9d9;
  --color-glassBg: rgba(255, 255, 255, 0.06);
  --shadow-custom: inset 2px 2px 2px 0 #fff,
    0 17px 23px 0 rgba(42, 42, 42, 0.36),
    inset 6px 6px 26px 0 rgba(255, 255, 255, 0.4),
    inset -3px -3px 3px 0 rgba(255, 255, 255, 0.3);
  --color-firstBlue: rgba(120, 120, 128, 0.1);
  --color-secondBlue: #0a2139;
  --color-thirdBlue: #0042c2;
  --color-firstGray: #a0a0a0;
  --color-secondGray: #d3d3d3;
  --shadow-signin: 4px 0 4px 4px rgba(0, 0, 0, 0.15);
  --color-bgPrimary: #8fbffa;
  --color-bgSecondary: #e0e0e0;
  --color-placeholder: #d3d3d3;
  --color-mainBlue: #2363b2;
  --color-textDark: #333333;
  --color-textGray: #666666;
  --color-separator: #a6a6a8;
  --color-buttonColor: #4a90e2;
  --color-textLightgray: #a9a9a9;
  --color-thirdGray: rgba(60, 60, 67, 0.3);
  --color-fourthGray: #969696;
  --color-fifthGray: #3c3c434d;
  --color-textGradient: rgba(102, 102, 102, 0.76);
  --color-deep-blue: #2363B2;
  --color-medium-blue: #4A90E2;
  --color-light-blue:#6DADF9;
  --color-very-light-blue: #77B6FF;
  --color-dark-gray:#333;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPro/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPro/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  /* font-family: "Roboto", sans-serif; */
  font-family: "SF Pro Display", sans-serif;
}
